  <div><h3 class="card-header">Featured Articles</h3></div>
  <br>
  <div class="container-fluid article container" id="articles">
        <div class="card">
        <div class="card-header">
        <div class="card-body">
            <h5 class="card-title">{{titleinput}}</h5>
            <p class="article-link">{{bodyinput}}</p>
            <a href="#" class="btn btn-primary save">Save Article</a>
        </div>
        </div>
        </div>
    </div>
